
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;

    --radius: 0.5rem;

    --primary: 29 70% 60%;
    --accent: 29 70% 60%;
  }

.dark {
  --background: 220 13% 18%;
  --foreground: 0 0% 85%;

  --card: 220 13% 20%;
  --card-foreground: 0 0% 85%;

  --popover: 220 13% 20%;
  --popover-foreground: 0 0% 85%;

  /* --primary: 207 82% 66%; */ /*Atom One blue */
  --primary-foreground: 0 0% 100%;

  --secondary: 220 12% 28%;
  --secondary-foreground: 0 0% 85%;

  --muted: 220 10% 25%;
  --muted-foreground: 220 10% 60%;

  /* --accent: 207 82% 66%; */
  --accent-foreground: 0 0% 100%;

  --destructive: 0 65% 60%;
  --destructive-foreground: 0 0% 100%;

  --border: 220 10% 25%;
  --input: 220 10% 25%;
  --ring: 207 82% 66%;

  --radius: 0.5rem;

  /* purple styled */
  /* --primary: 265 70% 75%;
  --accent: 265 70% 75%; */

  /* orange */
  --primary: 29 70% 60%;
  --accent: 29 70% 60%;
}
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  .fade-in {
    @apply opacity-0 animate-fade-in;
  }
  .slide-in {
    @apply opacity-0 animate-slide-in;
  }
  .fade-in-delay-1 {
    animation-delay: 100ms;
  }
  .fade-in-delay-2 {
    animation-delay: 200ms;
  }
  .fade-in-delay-3 {
    animation-delay: 300ms;
  }
}
